<h1>Rank Senders By Packages Sent</h1>

<% if @senders%>
  <table border="1" style="border-collapse: collapse">
    <thead>
      <tr>
        <th>Sender Email</th>
        <th>Total Packages Sent</th>
      </tr>
    </thead>
  <tbody>
  <% @senders.each do |key, value| %>
      <tr>
      <td><%= key.to_s %></td>
      <td><%= value.to_s %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<%else%>
    <p><span style="color: #ff0000;">No data to show</span></p>
<% end %>

<%= link_to 'back', admin_sales_root_path %>
