<h1>

Welcome to FedEx Clone - Sales reports
<li><%= link_to "Top 5 Countries Senders", admin_sales_report_countries_recipients_path %></li>
<li><%= link_to "Top 5 Recipient Senders", admin_sales_report_countries_senders_path %></li>
<li><%= link_to "Ranked packages Sent", admin_sales_report_packages_sents_path %></li>
<li><%= link_to "Ranked Freight Sent", admin_sales_report_freight_sents_path %></li>

</h1>