<h1>Rank Senders By Packages Sent</h1>

<table border="1" style="border-collapse: collapse">
    <th colspan="1" style="text-align: left">Username</th>
    <th colspan="1" style="text-align: left">Email</th>

    <% @senders.each do |sender| %>
        <tr>
          <td> <%= sender.store_name%></td>
          <td> <%= sender.email %></td>
        </tr>
  <% end %> 
</table>