<h1>

Welcome to FedEx Clone - Sales reports
<ul style="list-style:none">
<li><%= link_to "Top 5 Recipients Countries", report_countries_recipients_admin_sales_path %></li>
<li><%= link_to "Top 5 Senders Countries", report_countries_senders_admin_sales_path %></li>
<li><%= link_to "Ranked packages Sent", report_packages_sents_admin_sales_path %></li>
<li><%= link_to "Ranked Freight Sent", report_freight_sents_admin_sales_path %></li>
</ul>
</h1>